<div class="container">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category text-center" style="background-image: url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU') %>)">
        <div>
          <%= link_to "#{list.name}", list_path(list), class: "card-cover" %>
        </div>
        <div id="x">
          <%= link_to list_path(list), data: {turbo_method: :delete} do %>
            <i class="fas fa-times"></i>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= render "form" %>
  </div>
</div>
