<div class="card-category flex-column p-2" style="background-image: url()">
  Add a bookmark
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, collection: @movies, label: false %>
    <%= f.input :comment, label: false %>
    <%= f.submit class: "btn btn-flat" %>
  <% end %>
</div>
